<section class="py-20 bg-gray-50" id="local">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center mb-16">Localização</h2>

    <div class="grid md:grid-cols-2 gap-12">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125632.60864505194!2d-48.429635581919904!3d-10.260049314732477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x933b3439911f1257%3A0x93b8070d05c818f!2sPalmas%2C%20TO!5e0!3m2!1spt-BR!2sbr!4v1738978866933!5m2!1spt-BR!2sbr"
          width="100%"
          height="450"
          style="border:0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="rounded-lg shadow-lg">
        </iframe>
      </div>
      <div class="space-y-8">
        <div>
          <h3 class="text-2xl font-semibold mb-4">Informações de Contato</h3>
          <div class="space-y-4">
            <div class="flex items-center gap-3">
              <%= heroicon "map-pin", options: { class: "w-5 h-5 text-blue-600" } %>
              <span>Palmas - TO</span>
            </div>
            <div class="flex items-center gap-3">
              <%= heroicon "phone", options: { class: "w-5 h-5 text-blue-600" } %>
              <span>(63) 98107-8357</span>
            </div>
            <div class="flex items-center gap-3">
              <%= heroicon "envelope", options: { class: "w-5 h-5 text-blue-600" } %>
              <span>tesourariaconferencia@gmail.com</span>
            </div>
          </div>
        </div>

        <div>
<!--          <h3 class="text-2xl font-semibold mb-4">Como Chegar</h3>-->
<!--          <p class="text-gray-600">-->
<!--            O Centro de Convenções está localizado no centro de Palmas, com fácil acesso por-->
<!--            transporte público e particular. Há estacionamento gratuito no local.-->
<!--          </p>-->
        </div>
      </div>
    </div>
  </div>
</section>
